@mixin breakpoint($point) {
  
  @if $point == ultra-hd {
    @media (min-width: 993px) { @content; }
  }

  @if $point == desktop {
    @media (min-width: 992px) { @content; }
  }

  @else if $point == before-tab {
    @media (min-width: 769px)  { @content; }
  }


  @else if $point == tab-min {
    @media (min-width: 768px)  { @content; }
  }

  @else if $point == half-hd {
    @media (max-width: 991px)  { @content; }
  }

  @else if $point == tab {
    @media (max-width: 768px)  { @content; }
  }


  @else if $point == below-tab {
    @media (max-width: 767px)  { @content; }
  } // 

} // Breakpoint


// Ex: @include breakpoint(full-hd){width:100%;}
// Ex: @include breakpoint(half-hd){width:100%;}
// Ex: @include breakpoint(semi-hd){width:100%;}


@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

// Cross browser opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
  // @include opacity(0.8); | Demo
}



// Transforms.
// generic transform
// @mixin transform($transforms) {
//      -moz-transform: $transforms;
//        -o-transform: $transforms;
//       -ms-transform: $transforms;
//   -webkit-transform: $transforms;
//           transform: $transforms;
// }
// // rotate
// @mixin rotate ($deg) {
//   @include transform(rotate(#{$deg}deg));
// }
 
// // scale
// @mixin scale($scale) {
//    @include transform(scale($scale));
// } 
// // translate
// @mixin translate ($x, $y) {
//    @include transform(translate($x, $y));
// }
// // skew
// @mixin skew ($x, $y) {
//    @include transform(skew(#{$x}deg, #{$y}deg));
// }

//transform origin
// @mixin transform-origin ($origin) {
//     moz-transform-origin: $origin;
//        -o-transform-origin: $origin;
//       -ms-transform-origin: $origin;
//   -webkit-transform-origin: $origin;
//           transform-origin: $origin;
// }
