@mixin breakpoint($point) {
  
  @if $point == ultra-hd {
    @media (min-width: 993px) { @content; }
  }

  @if $point == desktop {
    @media (min-width: 992px) { @content; }
  }

  @else if $point == before-tab {
    @media (min-width: 769px)  { @content; }
  }


  @else if $point == tab-min {
    @media (min-width: 768px)  { @content; }
  }

  @else if $point == half-hd {
    @media (max-width: 991px)  { @content; }
  }

  @else if $point == tab {
    @media (max-width: 768px)  { @content; }
  }


  @else if $point == below-tab {
    @media (max-width: 767px)  { @content; }
  } // 

} // Breakpoint


// Ex: @include breakpoint(full-hd){width:100%;}
// Ex: @include breakpoint(half-hd){width:100%;}
// Ex: @include breakpoint(semi-hd){width:100%;}


@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

// Cross browser opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
  // @include opacity(0.8); | Demo
}

@mixin scrolling-shadows($background-color: rgb(255, 255, 255), $shadow-intensity: 0.2, $shadow-color: rgb(0,0,0), $cover-size: 40px, $shadow-size: 14px) {

  background:
    // Shadow covers 
    linear-gradient($background-color 30%, rgba($background-color,0)),
    linear-gradient(rgba($background-color,0), $background-color 70%) 0 100%,

    // Shadows 
    radial-gradient(50% 0, farthest-side, rgba($shadow-color,$shadow-intensity), rgba($shadow-color,0)),
    radial-gradient(50% 100%,farthest-side, rgba($shadow-color,$shadow-intensity), rgba($shadow-color,0)) 0 100%;
  background:
    // Shadow covers 
    linear-gradient($background-color 30%, rgba($background-color,0)),
    linear-gradient(rgba($background-color,0), $background-color 70%) 0 100%,

    // Shadows 
    radial-gradient(farthest-side at 50% 0, rgba($shadow-color,$shadow-intensity), rgba($shadow-color,0)),
    radial-gradient(farthest-side at 50% 100%, rgba($shadow-color,$shadow-intensity), rgba($shadow-color,0)) 0 100%;
  background-repeat: no-repeat;
  background-color: $background-color;
  background-size: 100% $cover-size, 100% $cover-size, 100% $shadow-size, 100% $shadow-size;

  // Opera doesn't support this in the shorthand 
  background-attachment: local, local, scroll, scroll;
}


// Transforms.
// generic transform
// @mixin transform($transforms) {
//      -moz-transform: $transforms;
//        -o-transform: $transforms;
//       -ms-transform: $transforms;
//   -webkit-transform: $transforms;
//           transform: $transforms;
// }
// // rotate
// @mixin rotate ($deg) {
//   @include transform(rotate(#{$deg}deg));
// }
 
// // scale
// @mixin scale($scale) {
//    @include transform(scale($scale));
// } 
// // translate
// @mixin translate ($x, $y) {
//    @include transform(translate($x, $y));
// }
// // skew
// @mixin skew ($x, $y) {
//    @include transform(skew(#{$x}deg, #{$y}deg));
// }

//transform origin
// @mixin transform-origin ($origin) {
//     moz-transform-origin: $origin;
//        -o-transform-origin: $origin;
//       -ms-transform-origin: $origin;
//   -webkit-transform-origin: $origin;
//           transform-origin: $origin;
// }
