@mixin breakpoint($point) {
  
  @if $point == ultra-hd {
    @media (min-width: 993px) { @content; }
  }

  @if $point == desktop {
    @media (min-width: 992px) { @content; }
  }

  @else if $point == before-tab {
    @media (min-width: 769px)  { @content; }
  }


  @else if $point == tab-min {
    @media (min-width: 768px)  { @content; }
  }

  @else if $point == half-hd {
    @media (max-width: 992px)  { @content; }
  }

  @else if $point == tab {
    @media (max-width: 768px)  { @content; }
  }


  @else if $point == below-tab {
    @media (max-width: 767px)  { @content; }
  } // 

} // Breakpoint


// Ex: @include breakpoint(full-hd){width:100%;}
// Ex: @include breakpoint(half-hd){width:100%;}
// Ex: @include breakpoint(semi-hd){width:100%;}


@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}