$white: #ffffff;
$black: #000000;
$green: #7cbc0d;

$magento-dark: #9b226d;
$magento-light: #ad2679;

$orange-dark: #f27a11;
$orange-light: #f29d11;

$blue-dark: #02b4ca;
$blue-light: #02d3db;

$red: #d61007;

// Flavor Colors

$desserts:  #942a75;
$fruits: #b7150a;
$candies:  #d77824;
$cereals:  #dd9b2a;
$drinks:  #91ba2e;
$mints:  #65b3c9;
$tobacco: #78d2da;



$font-family-lato: "Lato", Helvetica, Arial, sans-serif !default;


$ultra-bold:900; 			// font-weight: $ultra-bold;
$bold:700; 					// font-weight: $bold;
$regular:400; 				// font-weight: $regular;
$thin:300; 					// font-weight: $thin;
$thin-italic:300italic;		// font-weight: $thin-italic;
$ultra-thin:100;			// font-weight: $ultra-thin;


