// Custom Google Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,700,900,100);
// Lato Documentation: 
     // 900        => Ultra Bold;
     // 700        => Bold;
     // 400        => Regular;
     // 300        => Thin 
     // 300 italic => Thin Italic; 
     // 100        => Ultra Thin;

// Bootstrap Structure
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/grid";
@import "bootstrap/tables";
// Custom Variables & mixins
@import "custom-variables";
// @import "custom-mixins";
// Responsive
// @import "custom-responsive";
// Compass
@import "compass";

/**/

/* Common css */
.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.center-block {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding-left:0px;
  padding-right:0px;
}
.row .center-block {
	padding-left:15px;
	padding-right:15px;
}
*,
*:before,
*:after {
  @include box-sizing(border-box);
}
.pull-left { float:left;}
.pull-right { float:right;}
.text-center { text-align:center;}
.text-right { text-align:right;}
.text-left { text-align:left;}
a, a:focus, input:focus, textarea:focus, select:focus { outline:none; text-decoration:none;}
img { max-width:100%; vertical-align:middle;}
figure {margin:0;}
dl, dt, dd {margin:0;}
blockquote, ul, li, h1, h2, h3, h4, h5, h6, p { margin:0; padding:0; }
li { list-style:none; }

.test { border:1px solid $red}



body {
    font-family: $font-family-lato;
    font-size: 18px;
    line-height: 22px;
    color: $white;
    background-color: $white; }

  header {
    background-color: $black;
    nav {
      text-align:right;
      li {
        display: inline-block;
        margin: 35px 10px;
        a {
          font-family: $font-family-lato;
          font-weight:$ultra-bold;
          color:$white;
          font-size:18px;
          padding:0 10px;
        } // a
      } // li
    } // nav
  } // header

.static-video {
  min-height:785px;
}


// Dummy test contents
.video-section .pattern-overlay {
background-color: rgba(71, 71, 71, 0.59);
padding: 110px 0 32px;
min-height: 496px; 
/* Incase of overlay problems just increase the min-height*/
}
.video-section h1, .video-section h3{
text-align:center;
color:#fff;
}
.video-section h1{
font-size:110px;
font-family: 'Buenard', serif;
font-weight:bold;
text-transform: uppercase;
margin: 40px auto 0px;
text-shadow: 1px 1px 1px #000;
-webkit-text-shadow: 1px 1px 1px #000;
-moz-text-shadow: 1px 1px 1px #000;
}
.video-section h3{
font-size: 25px;
font-weight:lighter;
margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}

