
// Custom Google Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,700,900,100);
// Lato Documentation: 
     // 900        => Ultra Bold;
     // 700        => Bold;
     // 400        => Regular;
     // 300        => Thin 
     // 300 italic => Thin Italic; 
     // 100        => Ultra Thin;
// Theme style
@import "theme";
// Bootstrap Structure
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/grid";
@import "bootstrap/tables";
// Custom Variables & mixins
@import "variables";
@import "mixins";
// Responsive
// @import "custom-responsive";
// Compass
@import "compass";
@import "CSS:css/animate";

/**/

/* Common css */
.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.center-block {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding-left:0px;
  padding-right:0px;
}
.row .center-block {
	padding-left:15px;
	padding-right:15px;
}
*,
*:before,
*:after {
  @include box-sizing(border-box);
}
.pull-left { float:left;}
.pull-right { float:right;}
.text-center { text-align:center;}
.text-right { text-align:right;}
.text-left { text-align:left;}
a, a:focus, input:focus, textarea:focus, select:focus { outline:none; text-decoration:none;}
img { max-width:100%; vertical-align:middle;}
figure {margin:0;}
dl, dt, dd {margin:0;}
blockquote, ul, li, h1, h2, h3, h4, h5, h6, p { margin:0; padding:0; }
li { list-style:none; }

h1 { 
  color:$black; 
  font-size:85px; 
  line-height: 92px;
    
    @include breakpoint(below-tab){
      font-size: 65px;
      line-height: 72px;
    } // max width 767 
}

h2 { 
  color:$black; 
  font-size:45px; 
  line-height:52px;
    
    @include breakpoint(below-tab) { 
      font-size:2em
    }

   }

h3 { 
  color:$black; 
  font-size:30px; 
  line-height:46px; }

h4 { 
  color:$black; 
  font-size:20px; 
  line-height:30px; }

h5 { 
  color:$black; 
  font-size:18px; }


.test { 
  border:1px solid $red; }



body {
    font-family: $font-family-lato;
    font-size: 18px;
    line-height: 22px;
    //color: $white;
    background-color: $white; }

  header {
    background-color: $black;
    position: relative;
    z-index: 9;
    padding:15px 0;

    .logo-wrapper {
      text-align: center;
    }

    .h-nav {
      
      @include breakpoint(before-tab) {
          text-align:right;
      } // max width 768

      li {
        display: inline-block;
        margin: 20px 10px;
        a {
          font-family: $font-family-lato;
          font-weight:$ultra-bold;
          color:$white;
          font-size:18px;
          padding-left: 10px;
          padding-right:10px;
        } // a
      } // li
    } // nav
  } // header

.static-video {
  min-height:600px;
  background-color: $black;
  position: relative;
  z-index: 0;

  .banner-logo {
    margin:50px 0;
  }

  .static-left {

    h3 {
      font-weight:$ultra-bold;
      color:$white;
    }

    @include breakpoint(below-tab){
      text-align:center
    }

  }
 
 .static-right {
    text-align: center;

      h1 {
        font-weight:$ultra-bold;
        color:$white;
      } // h1
      
      p {
        font-weight:$ultra-bold;
        font-size:26px;
        line-height: 46px;
        color:$white;
      } // p

      a {
        color:$white;
        background-color: $green;
        @include border-radius(10px);
        padding:25px 60px;
        font-weight:$ultra-bold;
        font-size:30px;
        margin-top: 25px;
        display: inline-block;

          @include breakpoint(below-tab){
            padding-right:40px;
            padding-left:40px;
          } // max width 767 

      } // a

      @include breakpoint(below-tab){ 
          margin-bottom:15px;
      }
   } // static-right

   .video-bg { 
    width:100%;
    min-height:600px;
    z-index: -1;
    position: absolute;
    top:0;

    video {
      position: fixed !important;
    }

  } 
} // static-video


.wide-bg {
  
 
  .box-bg {
   
    

  } // dark-bg
} //wide-bg

// Section 1
.magento-light {
  background-color: $magento-light;
  padding-bottom:150px;
  position: relative;
  @include breakpoint(half-hd){
    padding-top:55px;
  }

  .page-title {
    // padding-top:115px;


    .container {
      padding:100px 0 50px 0; 
      
      h2 {
        color: $white;
        font-weight:$ultra-bold;
        text-align: center;
      }

    }
  }

  .page-title + .container .magento-dark { 
    margin-top:0;
  }

  .magento-dark {
    background-color: $magento-dark;
    @include border-radius(20px);
    padding:55px 30px;
    margin-top:-115px;
    position: relative;

    @include breakpoint(half-hd){
      margin-top:0;
    }
    
    h2 {
      font-weight:$ultra-bold;
      color:$white;
    } // h2

    h3 {
      font-weight: $thin;
      font-style:italic;
      color:$white;
    } // h3
  } // magento-dark

  

} // magento-light

.product-wrapper {
  padding-top:15px;
  figure {
    a{
      color:$white;
      font-weight:$ultra-bold;
      font-size: 20px;
      text-align: center;
      display: block;
      border:2px solid transparent;
      padding:15px 0;
      // &:hover {
      //   border-color: rgba($white, 0.8);
      //   @include border-radius(20px);
      // }
    }

  }
    
}

// section 2

.orange-light {
  background-color: $orange-light;
  position: relative;
  z-index: 1;
  @include breakpoint(half-hd){
    padding-top:55px;
  }

    .save-drop {
      text-align: center;
      margin-top:-115px;
      @include breakpoint(half-hd){
        margin-top:0;
      }

      .drop-left {
      }
      .drop-right {
      }
    }  // save-drop

    .orange-info {
      background-color: $orange-dark; 
      @include border-radius(20px);  
      padding-top:35px;
      padding-bottom:35px;
      counter-reset: line;

      @include breakpoint(half-hd){
          margin:50px 0;
        }

      .box-column {
        padding-top:50px;
        position: relative;
        text-align: center;

        @include breakpoint(half-hd){
          margin-bottom:50px;
        }

        h3 {
          font-weight:$ultra-bold;
          margin-bottom:30px;
          color:$white;
        }

        p {
          font-weight: $regular;
          font-size:24px;
          line-height:32px;
          color:$white;

          @include breakpoint(half-hd){
          br {
            display: none;
          }
        }
        }


         &:before {
            counter-increment: line;
            content: counter(line);
            display: inline-block;
            width:50px;
            height:50px;
            background-color:$orange-light;
            position: absolute;
            left:0;
            right:0;
            margin: 0 auto;
            top:0;
            text-align:center;
            font-weight: $ultra-bold;
            font-size:30px;
            line-height:45px;
            @include border-radius(50%); 
            color:$white;
      }

      } // box-column
    } // orange-info


&:before {
  content:"";
  position: absolute;
  background-color:$black;
  width:100%;
  height:150px;
  display: block;
  bottom:0;
  z-index: -1;
}

} // Orange-light


// section 3
.black {
  background-color: $black;
  padding:55px 30px;
  position: relative;

  h2 {
      font-weight:$ultra-bold;
      color:$white;
    } // h2

    h3 {
      font-weight: $thin;
      font-style:italic;
      color:$white;
    } // h3

    figure {
      @include breakpoint(below-tab){
        margin-bottom:25px;
      } // max width 767 px
    a{
      color:$white;
      font-weight:$ultra-bold;
      font-size: 32px;
      text-align: center;
      display: block;
      border:2px solid transparent;
      padding:15px 0;
      line-height: 36px;
      &:hover {
       
      } // :hover
    } // a
  } // figure

  .first {
    position: relative;

    &:before {
      content:"+";
      color:$white;
      font-weight:$ultra-bold;
      font-size:100px;
      position: absolute;
      right:0;
      top:50%;

      @include breakpoint(below-tab){
        top:unset;
        bottom:-65px;
        left:45%;
      } // max width 767 px
    }
  } // first

  .last {
    position: relative;

    &:before {
      content:"=";
      color:$white;
      font-weight:$ultra-bold;
      font-size:100px;
      position: absolute;
      left:0;
      top:50%;

      @include breakpoint(below-tab){
        top:-5px;
        left:45%;
      } // max width 767 px
    }
  } // last


a.mixing {
        color:$white;
        background-color: $green;
        @include border-radius(10px);
        padding:25px 60px;
        font-weight:$ultra-bold;
        font-size:30px;
        margin-top: 25px;
        display: inline-block;

          @include breakpoint(below-tab){
            padding-right:30px;
            padding-left:30px;
          } // max width 767 

      } // a


} // black


// Section 4
.blue-light {
  background-color: $blue-light;
  padding:30px 0;
  position: relative;
  z-index: 0;

  .blue-dark {
    background-color: $blue-dark;
    @include border-radius(20px);  
    padding-top:35px;
    padding-bottom:35px;
    text-align: center;

     h3 {
        font-weight:$ultra-bold;
        color:$white;
        margin-bottom:25px;
     } // h3

     .info-icon {
        display:inline-block;
        background-color: $blue-light;
        width:66px;
        height:66px;
        line-height: 60px;
        text-align: center;
        @include border-radius(50%);  
     } // info-icon

     p {
        font-weight:$regular;
        font-size:22px;
        margin:15px 0;
     } // p

     a {
      color: $white;
     } // a

     .col-sm-4 {
        @include breakpoint(below-tab){
          margin-bottom:25px;
        } // max width 767 px
     }

  } // blue-dark

  .testimonial {
    padding:100px 0; // temporary fix
  } // testimonial


  &:before {
    content:"";
    position: absolute;
    background:$black;
    width:100%;
    height:100px;
    top:0;
    z-index: -1;
  }
} // blue-light

// footer
footer {
  background-color: $black;
  padding:30px 0;
  position: relative;

  .footer-logo {
      @include breakpoint(tab){ 
        text-align: center;
      }
  } // footer-logo

  .footer-links {
    text-align: center;
    @include breakpoint(tab){ 
      border:1px solid $white;
      border-right:0;
      border-left:0;
      padding:10px;
      margin:15px 0;
    } // max with 767 
      li {
        display: inline-block;
        margin:0 5px;
        padding:65px 0;
        
          @include breakpoint(tab){ 
            padding-top:5px; 
            padding-bottom:5px; 
          } // max with 767 
        
        a {
          font-weight:$ultra-bold;
          font-size:14px;
          color:$white;
          padding:15px;
        }

      } // li

  } // footr-links

  .footer-socials {
    

    @include breakpoint(desktop){ 
      text-align: right;
    }

    @include breakpoint(tab){ 
      text-align: center;
    }

    li {
        display: inline-block;
        margin:0 10px;
        padding:60px 0; 

        @include breakpoint(tab){ 
          padding:10px 0;
        } // max width 767

        span {
          &:before {
            font-size:32px;
          }
        } // span

      } // li



  } // footer-social


  .copyright {
        color:$white;

        p.copy-text {
         
          @include breakpoint(desktop){ 
            text-align: right;
            position: relative;
            top:-35px;
          } // min width 992

          @include breakpoint(tab){ 
            text-align: center;
          } // max width 767

        } // copy-text


      p.warning-text {
        font-size:14px;

        @include breakpoint(below-tab){ 
            margin-top:25px;
          } // max width 767
      } // warning-text

      p:not(.copy-text) {
        margin-top:10px;
      }




      }

}  // footer


.appear{-moz-appearance:none;-webkit-appearance:none;appearance:none}

// sign up page

.page-black {
  background-color: $black;
  padding:150px 0;
}

.sign-up {
  max-width:650px;

    form {
        padding:20px 55px;
        max-width:500px;

          @include breakpoint(below-tab) {
            padding-left:0;
            padding-right:0;    
          } // max width 767

        input {
          @include border-radius(0);
          font-weight:$ultra-bold;
          padding-top:15px;
          padding-bottom:15px;
        } // input

        select {
          background:$white;
          font-weight:$ultra-bold;
          margin:0;
          padding-top:15px;
          padding-bottom:15px;
        } // select

        .top-radius {
          input[type="text"] {
            @include border-top-radius(10px);
            width:99%;
          }
        } // top-radius

        .bottom-radius {
          input[type="password"] {
            @include border-bottom-radius(10px);
            width:99%;
          } // input
        } // top-radius

        .dob-picker {
            .first, .middle, .last {
              display:inline-block;
              width:33%;
              float:left;
                
                select {
                  @include border-radius(0);
                  width:100%;
                } // select

            } // first, middle, last

            .first {
                select{
                  @include border-left-radius(10px);
                } // select
            } // first

            .last {
                select{
                  @include border-right-radius(10px);
                } // select
            } // last

            label {
              display:block;
              color:$white;
              font-weight:$ultra-bold;
              margin:15px 0;
            } // last

        } // dob-picker

        .forgot-pass {
          display:block;
          color:$white;
          font-weight:$ultra-bold;
          margin:15px 0;
          text-decoration:underline;
        } // forgot-pass
    }

    h2 {
      font-weight:$ultra-bold;
      color:$white;
      text-align: center;
        span {
          font-weight: $regular;
        } // span

    } // h2

    h3 {
      color:$white;
      text-align: center;
      font-weight: $regular;
    } // h3

    [data-role="signup"] {
      font-weight:$ultra-bold;
      color:$white;
      font-size:2em;
      width:100%;
      @include border-radius(10px);
      background-color:$green;
      border:0;
      text-transform:uppercase;
      margin:15px 0;

      &:hover {
        background-color:rgba($green, 0.8);  
      } // data-role="signup":hover
    } // data-role="signup"

     [data-role="enter"] {
      font-weight:$ultra-bold;
      color:$white;
      font-size:2em;
      width:100%;
      @include border-radius(10px);
      background-color:$red;
      border:0;
      text-transform:uppercase;
      margin:15px 0;

      &:hover {
        background-color:rgba($red, 0.8);  
      }
    } // data-role="Enter"


} // sign-up

.step-two{
  max-width:750px;
    h3 {
      color:$white;
      font-weight:$regular;
      text-align:center;
      font-size:1.5em;
    } // h3

    .watch-video {
        display:block;
        color:$white;
        font-weight:$ultra-bold;
        margin:15px 0;
        text-decoration:underline;

    }

} // step-two

.walkthrough-video {
  margin:15px 0;

    .video-cover {
      border:2px solid $white;
    }

}

.normal-radius {
  
}

.empty-cell {
  padding:30px 0;
}

[data-role="skip"] {
      font-weight:$ultra-bold;
      color:$white;
      font-size:2em;
      width:100%;
      @include border-radius(10px);
      background-color:$red;
      border:0;
      text-transform:uppercase;
      margin:15px 0;

      &:hover {
        background-color:rgba($red, 0.8);  
      }
}

// Flavors

.mixology {
  h3{
    font-weight:$ultra-bold;
    border-bottom:1px solid $green;
    padding-bottom:10px;
    margin-bottom:10px;
  } // h3
  ul.mixology-list{
    li{
      
      b {
        font-weight:$ultra-bold;
        color:$black;
        display: block;
      } // b

      span {
        position: relative;
        display: inline-block;
        padding-right: 10px;
        font-family:$regular;

        &:before {
          content:"#";
        } // span:before
      } // span
    } // li

    li.more {
      border-top:1px solid $green;
      padding:10px 0;
      margin:10px 0;
      text-align: center;
      cursor: pointer;
      font-weight:$ultra-bold;
    } // more
  } // ul
} // mixology


// how-it-works
.how-it-works {
  
  .magento-light {
    position: relative;
    padding-bottom: 0;

    &:before {
        content:"";
        position: absolute;
        background-color:$black;
        width:100%;
        height:150px;
        display: block;
        bottom:0;
        // z-index: -1;

    }
  } // magento-light

  .orange-light{
    padding-bottom: 50px;
    @include breakpoint(tab-min) {
      padding-bottom: 100px;
     }

    .orange-info {
      padding-top:50px;
      padding-bottom:50px;
        .title {
          padding-bottom: 50px;
        } // title
    } // orange-info

    &:before {
      bottom: inherit;
      top:0;
    } // orange light:before

    .medium {
        max-width: 300px;
    } // medium


  } // orange light

  .title{
    h3{
      color:$white;
    } // h3
  } // title

  .flavor-1k {
    max-width:400px;
      @include breakpoint(tab-min) {
        padding-top:40px;
      } // min width 768 px

    p {
      color: $white;
      font-weight:$regular;
      font-size:22px;
      margin:15px 0;
    }  // p
  } // flavor-1k

} // how-it-works


// .v-centre {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;

// }
.join-now {
    color:$white;
    background-color: $green;
    @include border-radius(10px);
    padding:25px 60px;
    font-weight:$ultra-bold;
    font-size:30px;
    margin-top: 25px;
    display: inline-block;
} // a  // join now.

.back-link {
  text-align: center;
  padding:50px 0;

  a {
    font-weight:$ultra-bold;
    font-size:2.1em;
    line-height: 1.2em;
    color:$black;
    background: url(../images/back-btn.png) no-repeat left center;
    padding-left:50px;
    background-size:30px;
  } // a
}

.form-search {
  position: relative;
  
  [type="text"] {
    padding-left: 30px;
    @include border-radius(10px);
    border-color:$black;
  } // input text

  .search-submit {
    position: absolute;
    top:10px;
    left:10px;
  } // search-submit
} // form-search


.flavor-btn {
  display: inline-block;
    
    @include breakpoint(desktop) {
      width:14.4%;
      padding: 200px 0;
    }
    @include breakpoint(half-hd) {
      width:100%;
      padding: 50px 0;
    }

  margin: 0 -2px;
  background-color: $black;
  font-weight:$ultra-bold;
  text-align: center;
  color: $white;

  &:hover {
    color:$white;
    // transform: scale(1.1);
    @include transform(scale(1.1));
    // box-shadow:1px 1px 5px rgba(0,0,0,0.3);
    @include box-shadow(rgba($black, 0.3) 1px 1px 10px);
    // 
  }
}

.choose-color {
  margin-left:2px;
  margin-top:35px;
  margin-bottom:35px;
} // choose color

// Product bg colors Start
  [data-bg="desserts"] { 
      background-color: $desserts;
      &:hover {
      background-color: rgba($desserts, 1);  
      } // desserts: hover
    } // bg | desserts
  
  [data-bg="fruits"] {
      background-color:$fruits;
      &:hover {
      background-color: rgba($fruits, 1);  
      } // fruits:  hover
  } // bg | fruits

  [data-bg="candies"] {
      background-color:$candies;
      &:hover {
      background-color: rgba($candies, 1);  
      } // candies: hover
  } // bg | candies

  [data-bg="cereals"] {
      background-color:$cereals;
      &:hover {
      background-color: rgba($cereals, 1);  
      } // cereals: hover
  } // bg | cereals

  [data-bg="drinks"] {
      background-color:$drinks;
      &:hover {
      background-color: rgba($drinks, 1);  
      } // drinsk: hover
  } // bg | drinsk

  [data-bg="mints"] {
      background-color:$mints;
      &:hover {
      background-color: rgba($mints, 1);  
      } // mints: hover
  } // bg | mints

  [data-bg="tobacco"] {
      background-color:$tobacco;
      &:hover {
      background-color: rgba($tobacco, 1);  
      } // tobacco :hover
  } // bg | tobacco
// Product bg colors End

.product-bottle {
  span {
    display: inline-block;

  } // span

  img, svg {
    max-width:75px;
  } // img, svg

} // product-bottle

[data-color="desserts"] {
  color:$desserts;
  svg path {
    fill: $desserts !important;
  }
} // svg desserts color 1

[data-color="red"] {
  color:$red;
  svg path {
    fill: $red !important;
  }
} // svg desserts color 2

[data-color="orange-light"] {
  color:$orange-light;
  svg path {
    fill: $orange-light !important;
  }
} // svg desserts color 3

[data-color="blue-light"] {
  color:$blue-light;
  svg path {
    fill: $blue-light !important;
  }
} // svg desserts color 4


.step-back {
  padding-left:10px;
  margin:15px 0;
    a {
    background-image: url(../images/back-btn-white.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size:30px;
    padding:10px 10px 10px 50px;
      display: block;
      font-weight:$ultra-bold;
      color:$white;
    }
}





// svg path {fill: #000 !important;}

// Theme edit
.nav-bar {
   background-color:$black;
}

.site-nav {
  li {
    a {
      color: $white;

      &:hover {
        color:rgba($white, 0.8);
      }
    }
  }
}

.site-nav__link {
  @include breakpoint(tab){ 
    color:$white;

    &:hover {
      color:$magento-dark;
    }
  }
}

.site-nav--active > a { 
  // color:$magento-light !important;
  border-bottom:3px solid $magento-light;
}

.site-header[role="banner"] { display: none}
// Theme edit

/* Developer style sheet */
.home-logo { max-width:160px; margin-top:7px}
.template-index {    color: #fff;}

// Privacy policy title
#privacy-policy {
  #cms-title { 
    position:relative;

      .grid__item {
        h1 {
          background-color:$red; 
          color:$white; 
          font-weight:900; 
          padding:85px 0 ; 
          text-align:center; 
          font-size:62px; 
          margin-top:-30px;

          @include breakpoint(below-tab){ 
              font-size:46px;
              margin-top:0;
              padding:45px 0;
          } // max width 767
        } // h1
      } // grid__item

    &:before {
      position:absolute; 
      content:""; 
      color:$red; 
      width:100%; 
      height:270px; 
      background-color:$red;
      top:-30px;

      @include breakpoint(below-tab){ 
          height:200px;
      } // max widt 767
    } // cms-title:before
  } // cms-title
} // privacy-policy


// Terms & condition
#terms-and-conditions {
  #cms-title { 
    position:relative;

      .grid__item {
        h1 {
          background-color:$orange-light; 
          color:$white; 
          font-weight:900; 
          padding:85px 0 ; 
          text-align:center; 
          font-size:62px; margin-top:-30px;

          @include breakpoint(below-tab){ 
              font-size:46px;
              margin-top:0;
              padding:45px 0;
          } // max width 767
        } // h1
      } // grid__item

    &:before {
      position:absolute; 
      content:""; 
      color:$orange-light; 
      width:100%; 
      height:270px; 
      background-color:$orange-light;
      top:-30px;

      @include breakpoint(below-tab){ 
          height:200px;
      } // max width 767
    } // grid__item:before
  } // cms-title
} // terms-and-conditions

.copyright p { color:#fff; }

/* Developer style sheet */


// Global Start
input[type=radio], input[type=checkbox] {
    display:none;
  }

input[type=radio] + label, input[type=checkbox] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    
  }

   input[type=radio]:checked + label, input[type=checkbox]:checked + label{
    outline: 0;
      background-color:#e0e0e0;
  }
// Global End

// Vijay S
  
  .choose-flavors {
    .col-sm-4 {
      // @include breakpoint(tab-min){
      //   border:1px solid red;
      // }
    }
  }

  .choose-flavors {}
  .choose-flavors {}

  .choose-flavors input[type=radio] + label, 
  .choose-flavors input[type=checkbox] + label {
  
    padding: 14px;
    font-size: 22px;    
    text-align: left;
    background-color: $white;
    border-color: $black;
    @include border-radius(10px);
    font-weight:$ultra-bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
  }

  .choose-flavors input[type=radio] + label:before, 
  .choose-flavors input[type=checkbox] + label:before {
    content: "#";
    padding-right:10px;
  }


  .choose-flavors input[type=radio]:checked + label, 
  .choose-flavors input[type=checkbox]:checked + label{
    background-color: $magento-dark;
    color: $white;
  }
  
  .choose-flavors .flavor label{
    width:100%;
  }

  .choose-flavors .flavor {
    margin: 10px 0px;
}

// C Nav
.c-menu {
  .center-block{
      text-align:center;
      margin:12px 0 0;

        span {
        background-color:$black;
        display:inline-block;
        position: relative; 
        margin:0 10px;
        padding:6px;

          &:after {
            content:"";
            height:1px;
            width:80px;
            background-color:$white;
            display:block;
            position: absolute;
            top: 60%;
            z-index: -1;
            left:10px;

          } // span:after

          &:last-child:after {
            dispaly:none;
            background-color:$black;
          } // last-chile | after
        } // span

    } // center-block
}


// Vijay E

// Durga S

.scroll {
  max-height:200px;
  overflow-y: auto;
  @include scrolling-shadows;
  text-align: left;
}

.action-btns {
    padding:15px 0;
    text-align: center;
  a {
    color:$white;
    font-weight:$ultra-bold;
    font-size:1.2em;
    text-align:center;
    padding:15px 10px;
    display: inline-block;
    width:45%;
    @include border-radius(10px);

    &.action-danger {
      background-color: $red;
    }

    &.action-success {
      background-color: $green;
    }
  } // a
}

.add-flavor {
  background: $white;
  border: 1px solid #BDBDBD;
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 350px;
  max-width: 460px;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 5px;
  position: fixed;

    p {
      margin-bottom: 15px;
    }
  }


.custom-popup + .pop-bg {
  position:fixed;
  background-color:rgba($black, 0.8);
  width:100%;
  height:100%;
  z-index:99;
}

.flavour {
    text-align: center;padding: 15px;
}
.close.popup-close{float: right;}

// Durga E





